body {
  background-color: #F7F7F3;
  color: #55595d;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  background-color: #ffffff;
  margin: 20px 250px 10px 250px;
  padding: 0px 10px 30px 10px;
}

h1 {
  color: #a2c1a4;
  font-size: 50pt;
}

h2 {
  color: #385777;
}

h3 {
  color: #385777;
}

.game-container {
  background-color: #ffffff;
  margin: 20px 100px 10px 100px;
  padding: 0px 40px 30px 40px;
}

.game-title {
  font-style: italic;
}

.answer-container {
    display: none;
}
